@model ProTrukRepo.ViewModels.DorderVM
@{
    ViewBag.Title = "AddDo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/OpenPad.js")"></script>
<script>
    initUrduEditor();
</script>

<script>

    window.onload = myOnload;
    var options = {
        "Apple": null,
        "Microsoft": null,
        "Google": 'https://placehold.it/250x250'
    };
    function myOnload(evt) {
        $('.datepicker').datepicker();
        makeUrduEditorById("AddressUrd", "25px");//enable Urdu in html text area
       // makeUrduEditorById("txtBox", "14px");//enable Urdu in html text box
        $('input.autocomplete').autocomplete({
            data: options,
        });
      
        
       

    }

    function test() {

        $.ajax({
            //base address/controller/Action
            url: '/Contract/ContactNumberAutoComplete',
            type: 'GET',
            data: {
                //Passing Input parameter
                id: "1"
            },
            success: function (result) {
                //write something
                alert(result);
                 $('input.autocomplete').autocomplete({
                    data: result,
                });
               
            },
            error: function () {
                alert("error"); 
            }
        });


/*
        options = {
            "AppleUpdate": null,
            "MicrosoftUpdate": null,
            "GoogleUpdate": 'https://placehold.it/250x250'
        };
        */
       
        
    }
</script>
<div class="row" id="ContentMain" >
    
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper"></div>

    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title left">Delivery Order</h4>
                                <div class="row">
                                    <div class="col s12">

                                        <div class="input-field col s2">
                                            @Html.TextBoxFor(m=> m.DoDate,new { @id = "date", @class = "datepicker" })                                
                                            
                                            <label for="date">Select Date</label>
                                        </div>

                                        <div class="input-field col s2">
                                            
                                            @Html.TextBoxFor(m => m.DoNumber, new { @id = "do_number", @class = "validate" })
                                            
                                            <label for="do_number">DO Number</label>
                                        </div>

                                        <div class="input-field col s2">
                                            <select name="SaveCop">
                                                
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                            <label>Save DO(s)</label>
                                        </div>

                                        <div class="input-field col s2">
                                            <p class="center">
                                                <label>
                                                    <input type="checkbox" name="Inc" class="filled-in" checked="checked" />
                                                    <span>Inc</span>
                                                </label>
                                            </p>
                                        </div>

                                        <div class="input-field col s2">
                                            @Html.DropDownListFor(x => Model.ContractType, (IEnumerable
     <SelectListItem>)ViewBag.LstContractType)
                                        </div>

                                        <div class="input-field col s2">
                                            @Html.TextBoxFor(m => m.ContractNumber, new { @id = "autocomplete-input", @class = "autocomplete" })
                                            
                                         
                                        </div>

                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field col s6">
                                            @Html.DropDownListFor(x => Model.Party, (IEnumerable
     <SelectListItem>)ViewBag.LstParty)
                                            <label for="party">Party</label>
                                        </div>
                                        <div class="input-field col s6">
                                            @Html.DropDownListFor(x => Model.GoodsType, (IEnumerable
     <SelectListItem>)ViewBag.LstGoods)
                                            <label for="cement">Cement</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field col s5">
                                            @Html.TextAreaFor(m => m.AddressEng, new { @id = "e_address", @class = "materialize-textarea" })     
                                            <label for="e_address">Address English</label>
                                        </div>
                                        <div class="input-field col s2">
                                            <div class="input-field col s12 center">
                                                <a class="btn btn-small purple waves-effect waves-light pull-left" style="padding:0 25px">Copy</a>
                                                <a class="btn btn-small purple waves-effect waves-light pull-right" style="padding:0 25px">Paste</a>
                                            </div>
                                        </div>
                                        <div class="input-field col s5">
                                            @Html.TextAreaFor(m => m.AddressUrd, new { @id = "AddressUrd", @class = "materialize-textarea", @dir = "rtl" })
                                            
                                            
                                            <label for="AddressUrd">Address Urdu</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field col s4">
                                            @Html.DropDownListFor(x => Model.CityID,(IEnumerable
     <SelectListItem>)ViewBag.LstCities,new { @id = "phone", @class = "js-example-basic-single" })
                                            <label>City</label>
                                        </div>

                                        <div class="input-field col s4">
                                            @Html.TextBoxFor(m => m.QTY, new { @id = "qty", @class = "validate", @placeholder = "20 Bag(s) = 1 Ton" })
                                          
                                            <label for="qty">Qty</label>
                                        </div>

                                        <div class="input-field col s4">
                                            <input id="weight" type="text" class="validate">
                                            @Html.TextBoxFor(m => m.Weight, new { @id = "weight", @class = "validate"})
                                            <label for="weight">Weight</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                       

                                        <div class="input-field col s4 push-s4">
                                            <a class="btn purple waves-effect waves-light right">Save</a>
                                    
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12" style="display:none">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title left">Payment</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field col s3">
                                            <input id="amount" type="text" class="validate">
                                            <label for="amount">Amount</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <select>
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="1">On Delivery</option>
                                                <option value="2">Advance Payment</option>
                                                <option value="3">Credit</option>
                                            </select>
                                            <label>Payment Type</label>
                                        </div>
                                        <div class="input-field col s3 center">
                                            <div class="col s6">
                                                <label>
                                                    <input class="with-gap" name="group1" type="radio" checked />
                                                    <span>Cash</span>
                                                </label>
                                            </div>
                                            <div class="col s6">
                                                <label>
                                                    <input class="with-gap" name="group1" type="radio" />
                                                    <span>Cheque</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="input-field col s3">
                                            <div class="input-field col s6">
                                                <select>
                                                    <option value="" disabled selected>Choose your Bank</option>
                                                    <option value="1">Meezan Bank Ltd</option>
                                                    <option value="2">Habib Bank Ltd</option>
                                                    <option value="3">NBP</option>
                                                </select>
                                                <label>Bank</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="cheque_number" type="text" class="validate">
                                                <label for="cheque_number">Cheque Number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
       

        // Or with jQuery

      


       
</script>